<section class="section">
  <div class="container" align="center">
    <article class="message is-black">
      <div class="message-header">
        <p>サーバ側のエラーです。</p>
      </div>
      <div class="message-body">
        サーバ側のエラーです。
      </div>
      <div class="container" style="padding: 1rem">
        <%= link_to "トップへ戻る", root_path, class: "button is-black" %>
      </div>
    </article>
  </div>
</section>
