/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require blueimp-gallery
 */
$body-background-color: lightgray;

$navbar-height: 2rem;
$navbar-background-color: black;
$navbar-item-hover-background-color: lightgray;
$navbar-item-color: white;

$panel-heading-background-color: gray;
$notification-padding: 0.5rem 2.5rem 0.5rem 1.5rem;

$link: black;
$section-padding: 1rem 1.5rem;
$pagination-current-border-color: black;
$pagination-current-background-color: black;

$modal-content-width: 75%;
$modal-card-head-background-color: lightgray;
$modal-card-body-background-color: white;

@import "bulma";

body {
    background-color: lightgray;
}
.bgwhite {
    background-color: white;
}
.bgopacity {
    background-color: rgba(255, 255, 255, 0.8);
}

.overflow-omission {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /*Safari用*/
    -o-text-overflow: ellipsis; /*Opera用*/
}

.fixed_btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 6px 40px;
}

#preview img{
  width: 200px;
}

.blueimp-gallery > .originalimage {
  position: absolute;
  top: 17px;
  right: 47px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .originalimage {
  display: block;
}

.modal-card-height {
  height: 80%;
}

.terms_sentence {
  padding: 0px 20px 20px;
}